{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="basic web page, template stolen from startbootstrap.com">
  <meta name="author" content="lsimonis@gmail.com">

  <title>lukassimonis dot net</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Lukas D Simonis</h1>
      <p class="lead">Programmer and Problem Solver</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
         <h2>about</h2>
          <p class="lead">I am a technology professional with a track record of success at big and small projects and a passion for solving intractible problems. After several years away from the industry, I returned to school and completed a degree in Computer Science. I am pursuing opportunities in software development, cybersecurity, and devops.</p>
          <p><a href="{% static 'files/resume2019.pdf' %}">Download Resume (PDF)</a></p>
          <p>This site is written by me using only vim, in Python 3 on Django 2 on a RedHat 7 EC2 instance on AWS.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="experience" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>experience</h2>
          <p class="lead"></p>
            <ul><i>Electronic Data Systems (EDS)<br>2008</i><br>Managed development environment and designed production architecture for project for client Delta Dental. This was a devops role on the operations side but with a lot of cooperation and information exchange with developers as well as a lot of documentation of practices and architecture.</ul>
            <ul><i>Bayview Financial, LLC<br>2004-2008</i><br>I architected, installed and maintained multiple Oracle Portal web sites. These included several corporate Intranet sites and one major revenue-generating Internet-facing web site. In addition to the application server layer, I was also responsible for the infrastructure tier (identity management and databases). I also provided engineering and support for the company's Tomcat/Apache and Weblogic platforms. This position involved significant Linux and UNIX system administration.</ul>
            <ul><i>Oracle Corporation<br>2000-2004</i><br>I was a member of the Internet Hosting Services team, maintaining J2EE websites. These were all multi-tier,load-balanced applications running Oracle tech stacks on topof Sun Solaris and RedHat Linux. This was primarily a project-based position and required independenttime management. I was the primary operations person forthe company global intranet site my.oracle.com, which alsoserved as the first production rollout project for demonstrating and testing new technology and updates, as well as for login.oracle.com, the company's Single Sign On solution.</ul>
            <ul><i>Earthlink, Inc.<br>1999-2000</i><br>I provided first and second level support to Earthlink's ISP customers. I acted in a senior capacity, providing leadership, training and documentation to other agents.</ul>
        </div>
      </div>
    </div>
  </section>
  <section id="education" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>education</h2>
          <p class="lead">
            <ul><i>National University</i><br>2014 - 2018<br>B.S. Computer Science</ul></p>
            <ul><i>University of California, Berkeley</i><br>1995 - 1999<br>Physics Major</ul></p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>contact</h2>
          <p class="lead">
            <ul>phone: <a href="tel:14159351754">+1-415-935-1754</a></ul>
            <ul>email: <a href="mailto:lsimonis@gmail.com">lsimonis@gmail.com</a></ul>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; lukassimonis.net 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>

</html>
